<form method="POST" action="/pirates">
	<p>Pirate's Name: <input id="pirate_name" type="text" name="pirate[name]"></p>
	<p>Pirate's Weight: <input id="pirate_weight" type="text" name="pirate[weight]"></p>
	<p>Pirate's Height: <input id="pirate_height" type="text" name="pirate[height]"></p>
	<p></p>
	<p>Pirate's Ship 1 Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
	<p>Pirate's Ship 1 Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></p>
	<p>Pirate's Ship 1 Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p>
	<p></p>
	<p>Pirate's Ship 2 Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>
	<p>Pirate's Ship 2 Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></p>
	<p>Pirate's Ship 2 Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p>
	<p><input id="Submit" type="submit"></p>
</form>